---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to the AI4H Lab</h1>

	{{ content }}
  </div>
  <style type="text/css">
    h1 a {
      background-image: url('https://miro.medium.com/fit/c/262/262/1*wF3uBcMdoSAaJukijKJWgA.png');
      background-repeat: no-repeat;
      width: 262px;
      height: 262px;
      text-decoration: none;
      color: #888;
      display: block;
    }
  </style>
  
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
